<section id="hero" class="pt-20 md:pt-24 pb-8 section-padding-x">
  <div class="container max-w-screen-xl">
    <div class="relative flex flex-col-reverse lg:flex-col">
      <div
        class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl mx-auto lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0"
      >
        <svg
          class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block"
          viewBox="0 0 100 100"
          fill="currentColor"
          preserveAspectRatio="none slice"
        >
          <path d="M50 0H100L50 100H0L50 0Z"></path>
        </svg>
        <img
          class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
          src="/images/backgrounds/fakultas-teknik-unsoed.jpeg"
          alt="Fakultas Teknik Unsoed"
        />
      </div>
      <div
        class="relative flex flex-col items-start w-full max-w-xl mx-auto lg:max-w-screen-xl"
      >
        <div class="lg:my-40 lg:max-w-lg">
          <h1
            class="inline-block px-3 py-px mb-2 lg:mb-4 small-font-size font-semibold tracking-wider text-light-base uppercase rounded-full bg-blue-base"
          >
            SoedTrade
          </h1>
          <h2
            class="mb-2 md:mb-3 lg:mb-5 font-sans font-bold tracking-tight text-gray-900 title-font-size sm:leading-none"
          >
            Semua yang Gensoed butuhkan <span
              class="inline-block text-blue-base">ada disini</span
            >
          </h2>
          <p class="mb-5 text-gray-700 normal-font-size">
            SoedTrade adalah platform yang menyediakan berbagai macam kebutuhan
            Gensoed. Mulai dari makanan, minuman, hingga kebutuhan sehari-hari
            lainnya.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
