<form id="contactForm" class="normal-font-size">
  <div class="mb-2">
    <div class="mx-0 mb-1 sm:mb-4">
      <div class="mx-0 mb-1 sm:mb-4">
        <label for="name" class="pb-1 text-xs uppercase tracking-wider"
        ></label><input
          type="text"
          id="name"
          placeholder="Nama lengkap..."
          class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md text-gray-300 sm:mb-0"
          name="name"
        />
      </div>
      <div class="mx-0 mb-1 sm:mb-4">
        <label for="email" class="pb-1 text-xs uppercase tracking-wider"
        ></label><input
          type="email"
          id="email"
          placeholder="Alamat email..."
          class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md text-gray-300 sm:mb-0"
          name="email"
        />
      </div>
    </div>
    <div class="mx-0 mb-1 sm:mb-4">
      <label for="textarea" class="pb-1 text-xs uppercase tracking-wider"
      ></label><textarea
        id="textarea"
        name="textarea"
        cols="30"
        rows="5"
        placeholder="Tulis pesan..."
        class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md text-gray-300 sm:mb-0"
      ></textarea>
    </div>
  </div>
  <div class="text-center">
    <button
      type="submit"
      class="w-full bg-blue-800 text-white px-6 py-3 font-xl rounded-md sm:mb-0"
      >Kirim Pesan</button
    >
  </div>
</form>
