---
import Navbar from "../components/Navbar/index.astro";
import Footer from "../components/Footer/index.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | SoedTrade</title>
  </head>
  <body class="bg-light-base text-dark-base">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  .section-padding-x {
    @apply px-4 md:px-8;
  }

  .card-title-font-size {
    @apply text-base md:text-lg lg:text-xl;
  }

  .price-title-font-size {
    @apply text-sm md:text-base;
  }

  .description-font-size {
    @apply text-xs md:text-sm;
  }

  .title-font-size {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  .subtitle-font-size {
    @apply text-sm md:text-base;
  }

  .normal-font-size {
    @apply text-sm lg:text-base xl:text-lg;
  }

  .footer-font-size {
    @apply text-sm md:text-base;
  }
</style>
